<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SeleniumSuite" parallel="tests">
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="testng.base.SeleniumTestBase" />
        </classes>
    </test>
</suite>
